In [2]:
#dependencies
import pandas as pd

In [3]:
#pull file
budget_file = 'budget_data.csv'

In [4]:
#set up data frame
df = pd.read_csv(budget_file)

In [5]:
#preview dataframe
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [9]:
#count total profit/losses
total_profit = df["Profit/Losses"].sum()
total_profit

38382578